:root {
    --blue-btn-color: #2563eb;
    --blue-btn-hover-color: #1d4ed8;
    --blue-btn-font-color: #ffffff;

    --font: Arial, sans-serif;
}

[data-theme="light"] {
    --system-bg-icon-color: #e5e7eb;
    --system-bg-icon-hover-color: #d1d5db;
    --system-bg-card-color: #ffffff;
    --system-bg-color: #f3f4f6;
    --system-title-font-color: #1f2937;
    --system-text-font-color: #6b7280;
    --system-border-color-form: #d1d5db;
    --system-bg-form: #ffffff;
    --system-bg-thead-color: #f3f4f6;
    --system-font-color-thead: #6b7280;
    --system-font-color-tfoot: #6b7280;
    --system-font-color-td: #1f2937;
    --system-font-color-badge-blue: #1e43c1;
    --system-bg-color-badge-blue: #dbeafe;
    --system-font-color-badge-green: #236a34;
    --system-bg-color-badge-green: #dcfce7;
    --system-font-color-badge-yellow: #a0580e;
    --system-bg-color-badge-yellow: #fef9c3;
    --system-bg-color-input-special: #ffffff;

}

[data-theme="dark"] {
    --system-bg-icon-color: #374151;
    --system-bg-icon-hover-color: #4b5563;
    --system-bg-card-color: #1f2937;
    --system-bg-color: #111827;
    --system-title-font-color: #ffffff;
    --system-text-font-color: #b0b4bb;
    --system-border-color-form: #424c5a;
    --system-bg-form: #374151;
    --system-bg-thead-color: #374151;
    --system-font-color-thead: #dcdfe4;
    --system-font-color-tfoot: #dcdfe4;
    --system-font-color-td: #b0b4bb;
    --system-font-color-badge-blue: #9bdbfe;
    --system-bg-color-badge-blue: #1e3a8a;
    --system-font-color-badge-green: #bbf7c6;
    --system-bg-color-badge-green: #14532d;
    --system-font-color-badge-yellow: #d98d12;
    --system-bg-color-badge-yellow: #713f12;
    --system-bg-color-input-special: #1f2937;
}   

body {
    font-family: Arial, sans-serif;
    background-color: var(--system-bg-color);
    margin: 0;
    padding: 0;

    h1, h2, h3, h4, h5, h6 {
        color: var(--system-title-font-color);
    }
}

header {
    background-color: var(--system-bg-card-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-bottom: 1px solid var(--system-border-color-form);

}

.page-title {
    grid-column: 2;
}

.btn-theme-switcher {
    justify-self: end;
    margin-right: 15px;
    background-color: var(--system-bg-icon-color);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    &:hover {
        background-color: var(--system-bg-icon-hover-color);
        cursor: pointer;
    }
}

.img-theme-switcher {
    width: 24px;
    height: 24px;
}

.main-content {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
}

.card {
    background-color: var(--system-bg-card-color);
    border-radius: 8px;
    border: 1px solid var(--system-border-color-form);
    margin: 30px 10px 20px 10px;
    padding: 15px;

    &.transaction-table {
        border: none;
        padding: 0;
    }
}

/* hr{
    border: none;
    background-color: var(--system-border-color-form);
    height: 0.5px;
    margin-bottom: 21.28px; /* A margem do h4 é exatamente 21.28px 
} */

table {
    border: 1px solid var(--system-border-color-form);
    border-radius: 8px;
    border-spacing: 0;
}

th {
    background-color: var(--system-bg-thead-color);
    padding: 15px 30px 15px 30px;
    color: var(--system-font-color-thead);

    &.th-search {
        border-top-left-radius: 8px;
        text-align: left;
    }

    &.th-filter {
        border-top-right-radius: 8px;
        padding-left: 10px;
    }
}

td {
    color: var(--system-font-color-td);
    border-top: 1px solid var(--system-border-color-form);
    padding: 10px 30px 10px 30px;
}

tfoot td {
    color: var(--system-font-color-tfoot);
    font-weight: bold;
    background-color: var(--system-bg-thead-color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.badge {
    padding: 5px;
    border-radius: 12px;

    &.badge-blue {
        background-color: var(--system-bg-color-badge-blue);
        color: var(--system-font-color-badge-blue);
    }

    &.badge-green {
        background-color: var(--system-bg-color-badge-green);
        color: var(--system-font-color-badge-green);
    }

    &.badge-yellow {
        background-color: var(--system-bg-color-badge-yellow);
        color: var(--system-font-color-badge-yellow);
    }
}

input {
    border: 1px solid var(--system-border-color-form);
    border-radius: 8px;
    padding: 10px;
    width: 100%;
}

.input-icon {
    position: relative;
    display: flex;
    align-items: center;;

    img {
        height: 25px;
        width: 25px;
        position: absolute;
        margin-left: 10px;
    }

    input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        background-color: var(--system-bg-color-input-special);
        color: var(--system-font-color-td);
    }
}

select {
    border: 1px solid var(--system-border-color-form);
    border-radius: 8px;
    padding: 10px;
    background-color: var(--system-bg-form);
    color: var(--system-font-color-td);
}

.select-icon {
    position: relative;
    display: flex;
    align-items: center;;

    img {
        height: 25px;
        width: 25px;
        position: absolute;
        margin-left: 10px;
    }

    select {
        padding: 10px 10px 10px 40px;
        background-color: var(--system-bg-color-input-special);
        &:hover {
            cursor: pointer;
        }
    }
}